.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    color: white;
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .subtitle {
    color: white;
  }

  @media screen and (max-width: 800px) {
      width: 90vw;
  }
}
