.next-button-container {
    width: 80vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

@media screen and (max-width: 800px) {
    .next-button-container{
        margin-top: 0px;
    }
}