.homepage-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.ratio-container {
  width: 80vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .ratio-container {
    width: 95vw;
    margin: 5px;
    padding: 0px 5px;
  }
}
